/* General Reset */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    line-height: 1.6;
    color: #333;
    background-color: #F5F5F5;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Cor de fundo */
    border-top: 8px solid #0C3C60; /* Cor do "loader" */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Animação de rotação do loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px; /* Adiciona padding para evitar problemas em telas pequenas */
    box-sizing: border-box; /* Garante que o padding seja incluído no width */ 
}

/* Header */
#main-header {
    background: #0C3C60;
    color: #fff;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Redes Sociais */
.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    font-size: 1.2rem; /* Tamanho dos ícones */
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff; /* Cor ao passar o mouse */
}

.phone-link {
    font-size: 1.0rem; /* Tamanho do telefone */
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
.hero {
    background: url('./assets/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 1rem 0;
    color: #fff;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(12, 30, 60, 0.8);
    z-index: 1; /* Coloca a camada acima do background, mas abaixo do conteúdo */
}

.hero h1 {
    position: relative;
    z-index: 2;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.99);
}

.hero p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.logo {
    position: relative;
    z-index: 2;
    width: 50%;
    margin-bottom: -40px;
}

.vegan-icon {
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 100px;
    z-index: 2;
}

/* Service-1 Section */
.service-1 {
    padding: 2rem 0;
    background: #f4f4f4;
    text-align: center;
}

.service-1 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.service-1-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    margin-top: 1.5rem;
}

.service-1 .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    width: 100%; /* Ensure the image takes full width inside container */
}

.service-1 .text-container {
    flex: 1;
    max-width: 600px;
}

.service-1 .text-container p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

/* Service-3 Section */
.service-3 {
    padding: 2rem 0;
    background: #0C3C60;
    color: #fff;
    text-align: center;
}

.service-3 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Flexbox Layout */
.service-3 .service-3-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    margin-top: 1.5rem;
}

.service-3 .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    width: 100%; /* Ensure the image takes full width inside container */
}

.service-3 .text-container {
    flex: 1;
    max-width: 600px;
    margin-bottom: 1.5rem;
}

.service-3 .text-container p {
    font-size: 1rem;
    line-height: 1.6;
    color: #fff; /* White text for dark background */
}

.service-3 .text-container ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1rem;
}

.service-3 .text-container ul li {
    margin-bottom: 0.5rem;
}

/* Service-4 Section */
.service-4 {
    padding: 2rem 0;
    background: #f9f9f9; /* Sem fundo escuro, como solicitado */
    text-align: center;
}

.service-4 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.service-4-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    margin-top: 1.5rem;
}

.service-4 .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.service-4 .text-container {
    flex: 1;
    max-width: 600px;
}

.service-4 .text-container p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333; /* Manter o texto escuro */
}

/* Satisfaction Section */
.satisfaction {
    padding: 2rem 0;
    background: #0C3C60; /* Fundo escuro */
    color: #fff; /* Cor do texto */
    text-align: center;
}

.satisfaction h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #fff; /* Título em branco */
}

/* Carousel */
.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-top: 20px;
}

.carousel-track-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide.current-slide {
    opacity: 1;
}

.carousel-slide img {
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Buttons */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

/* About Us Section */
.about-us {
    padding: 3rem 0; /* Aumentando o padding para uma área maior */
    background: #F5F5F5; /* Fundo mais claro, similar ao da sessão 1 */
    color: #333; /* Texto escuro para contraste */
    text-align: center;
}

.about-us h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #333; /* Mantendo o título com cor escura */
    margin-bottom: 1.5rem;
}

.about-us-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-direction: column; /* Empilhando o conteúdo em telas pequenas */
    margin-top: 1.5rem;
}

.btn-primary {
    display: flex;
    align-items: center;  /* Alinha o ícone e o texto verticalmente */
    justify-content: center;  /* Centraliza o conteúdo horizontalmente */
    position: relative;
    z-index: 2; 
    width: 100%;
    text-align: center;
    background: #367FB9;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    gap: 0.5rem;
}

.btn-primary i {
    font-size: 1.2rem;
}

.btn-primary:hover {
    background: #0056b3;
}
/* Footer */
#main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

#main-footer p {
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .service-list {
        flex-direction: column;
        gap: 1rem;
    }

    .service-item {
        width: 100%;
    }

    .image-container img {
        max-width: 80%; /* Make image slightly smaller on medium screens */
    }

    .text-container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.3rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .btn-primary {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .service-1 h1 {
        font-size: 1.5rem;
    }

    .text-container p {
        font-size: 0.9rem;
    }

    .image-container img {
        max-width: 100%; /* Ensure the image takes full width on small screens */
    }

    .service-3 h1 {
        font-size: 1.5rem;
    }

    .service-3 .text-container p {
        font-size: 0.9rem;
    }

    .service-3 .image-container img {
        max-width: 100%; /* Ensure the image takes full width on small screens */
    }

    .service-4 .service-4-content {
        flex-direction: column;
        text-align: center;
    }

    .service-4 .image-container img {
        max-width: 80%; /* Make image slightly smaller on medium screens */
    }

    .service-4 .text-container {
        max-width: 100%;
    }

    .service-4 h1 {
        font-size: 1.5rem;
    }

    .service-4 .text-container p {
        font-size: 0.9rem;
    }
}
